* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(234, 234, 234);
}

main {
  margin-bottom: 5rem;
}

.home, .event, .runclub, .login-menu, .text-overlay, .loginPage, .registerPage, .AccountPage {
  padding-left: 2rem;
  padding-right: 2rem;
}


input:focus,
textarea:focus {
  outline: none;
  border-color: rgb(76, 102, 76);
}