
.registerPage {
  min-height: 90vh;
  background: linear-gradient #f5f7fa;
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.registerContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.registerIntro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.registerIntro p {
  font-size: 1.1rem;
  color: #555;
}


.registerCard {
  background: white;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
}


.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.formGroup label {
  margin-bottom: 6px;
  font-size: 1rem;
}

.formGroup input {
  height: 45px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.createAccountBtn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 20px;
  background-color: #222;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.createAccountBtn:hover {
  background-color: #000;
}


.authMessage {
  margin-top: 1rem;
  font-size: 1rem;
}


@media (max-width: 768px) {
  .registerContainer {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .registerHeader {
    padding: 1.5rem;
  }

  .registerIntro h1 {
    font-size: 2rem;
  }
}

