

.registerPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  min-width: 40rem;
  max-height: 25rem;
  padding: 4rem;
  background-color: rgb(209, 214, 209);
  border-radius: 10px;
}

.registerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 24rem;
}

.registerFormP {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  width: 24rem;
}

@media (max-width: 768px) {
  
  .registerform {
    min-width: 14rem;
  }

  .registerFormP {
    width: 18rem;
  }
}