/* RUNCLUB, CARDS */

.runclub-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.runclubTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  font-size: 2.6rem;
  margin-top: 4rem;
}

.RunclubCards {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2rem;
}

.RunclubCard {
  display: flex;
  flex-direction: row;
  gap: 3.6rem;
  padding: 20px;
  border: 0.8px solid rgb(19, 79, 19);
  border-radius: 22px;
  min-height: 20rem;
  max-height: 50rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.RunclubCard:hover {
  box-sizing: border-box;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.2);
}


.RunclubDescriptionInCard {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  gap: 8px;
    h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 14px;
  }
  span {
    font-weight: 600;
  }
}

.subscribe-runclub-btn {
  border: 1px solid #ddd;
  background: rgb(197, 209, 197);
  padding: 8.8px 24px;
  border-radius: 2rem;
  cursor: pointer;
}

.subscribe-runclub-btn:hover {
  background-color: rgb(19, 70, 19);
  color: white;
  transition: 0.4s ease;
}


.RunClubImageInCard img {
  width: 100%;
  max-width: 20rem;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .RunclubCards {
    grid-template-columns: 1fr;
    padding: 0%;
  }

  .RunclubCard {
    flex-direction: column;
    padding: 1.5rem;
  }

  .RunClubImageInCard img {
    max-width: 40%;
  }

  .RunclubDescriptionInCard {
    gap: 0.8rem;
  }

  .runclub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}

/* FILTER */

.runclub-container {
  display: flex;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 14rem;
}

.freeCheckbox {
  display: inline-block;
  width: 100%;
  padding: 0%;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.check {
  width: 18px;
  height: 18px;
}


.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 12rem;
  
  input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 12rem;
  }
  
}

.selectWrapper select {
  height: 45px;
  padding: 0 12px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

label {
  margin-top: 2rem;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  
  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%
  }

  .filter {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .selectWrapper {
    width: 100%;
  }

  .checkboxLabel {
    font-size: 1.2rem;
  }

}


/* RunclubForm */

.runclubFormPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 4rem;
}


.runclubCard {
  background: white;
  padding: 2rem;
  border: 0.8px solid rgb(19, 79, 19);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 100%;
}


.runclubFormTitle {
  margin-bottom: 2rem;
}

.runclubFormTitle h1 {
  font-size: 2rem;
}

.runclubFormTitle p {
  color: #555;
}


.splitForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


.formColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
textarea,
select {
  height: 45px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  min-height: 100px;
  padding: 10px;
  resize: vertical;
}

.imagePreview {
  margin-top: 10px;
}

.imagePreview img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.runclubBtn {
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgb(76, 102, 76);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}

.runclubBtn:hover {
  background-color: rgb(10, 50, 10);
}

@media (max-width: 768px) {

  .runclubCard {
    padding: 1.5rem;
  }

  .splitForm {
    grid-template-columns: 1fr;
  }

  .runclubFormTitle h1 {
    font-size: 1.6rem;
  }

}