/* RUNCLUB, CARDS */

.runclub-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.runclubTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  font-size: 2.6rem;
}

.RunclubCards {
  display: grid;
  grid-template-columns: 1fr;
  border-left: 2px solid #333;
  gap: 2rem;
  padding-left: 2rem;
}

.RunclubCard {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  min-height: 18rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: white;
  gap: 4rem;
}

.RunclubDescriptionInCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RunClubImageInCard {
  display: flex;

  img {
    width: 100%;
    max-width: 18rem;
    border-radius: 10px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {

  .RunclubCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    border-top: 2px solid #333;
    border-left: none;
  }

  .RunclubDescriptionInCard {
   gap: 1rem;
  }
  
  .RunclubCard {
    display: grid;
    padding: 2rem;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .runclub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}

/* FILTER */

.runclub-container {
  display: flex;
}

.filter-container {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 14rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 12rem;
}

.selectWrapper select {
  height: 45px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

label {
  margin-top: 2rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  
  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%
  }

  .filter {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .selectWrapper {
    width: 100%;
  }

  .freeCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .checkboxLabel {
    font-size: 1.2rem;
    margin-left: 16rem;
  }

}