* {
  margin: 0%;
  padding: 0%;
}

main {
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 100vh;
}


.navbar {
  background-color: rgb(199, 208, 199);
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.btnLinkHome, .btnLinkEvent, .btnLinkRunclub {
  color: #333;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 5rem;
  display: flex;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btnLinkRunclub {
  width: 10.5rem;
}

.btnLinkHome:hover, .btnLinkRunclub:hover, .btnLinkEvent:hover {
  transition: all 0.5s ease;
  color: black;
}

.btnLinkHome:after, .btnLinkRunclub:after, .btnLinkEvent:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0.8px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.btnLinkHome:hover:after, .btnLinkRunclub:hover:after, .btnLinkEvent:hover:after {
  transform: scaleX(1);
}

.desktop-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.desktop-menu a {
  font-size: 1.6rem;
  color: #333;
  text-decoration: none;
  letter-spacing: 1px;
}

.desktop-menu a:hover {
  color: black;
}


/* MENY FÖR MOBIL */

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  z-index: 2002;
}

.hamburger .bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.8rem;
  width: 2.5rem;
  border-radius: 4px;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

.hamburger .bar {
  background-color: #333;
  height: 4px;
  width: 2.5rem;
  border-radius: 4px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(199, 208, 199);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2000;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu a {
  color: #333;
  text-decoration: none;
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1px;
  display: block;
}

.mobile-menu a:hover {
  color: black;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .btnLinkHome, .btnLinkRunclub, .btnLinkEvent {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}


/* HEM */

.meny-header {
  display: flex;
  height: 10rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 2.6rem;
}

.meny-home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 2rem;
}

.meny-home-img {
  flex: 1;
  max-width: 50%;
}

.menyPageImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.meny-home-text {
  flex: 2; 
  max-width: 50%;
}

.p-header-meny-home {
  font-size: 2rem;
}

.p-text-meny-home {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  color: #333;
}


@media (max-width: 768px) {

  .meny-header {
    margin-top: 1rem;

  }
  .meny-home-page {
    flex-direction: column;
    align-items: center;
  }

  .meny-home-img,
  .meny-home-text {
    min-width: 100%;
    flex: none;
    margin-bottom: 1rem;
  }

  .p-header-meny-home {
    font-size: 1.5rem;
  }

  .p-text-meny-home {
    font-size: 1rem;
  }
}

/* EVENT, CARDS */

.eventTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  font-size: 2.6rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  min-height: 12rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  .card {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
}


/* FOOTER */

footer {
  height: 30rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  color: white;
}

@media (max-width: 768px) {
  footer {
    font-size: 0.8rem;
  }
}