* {
  margin: 0%;
  padding: 0%;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
}


.navbar {
  background-color: rgb(199, 208, 199);
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnLinkHome, .btnLinkEvent, .btnLinkRunclub {
  color: rgb(38, 38, 38);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 3.5rem;
  display: flex;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btnLinkRunclub {
  width: 6.5rem;
}

.btnLinkHome:hover, .btnLinkRunclub:hover, .btnLinkEvent:hover {
  transition: all 0.5s ease;
  color: black;
}

.btnLinkHome:after, .btnLinkRunclub:after, .btnLinkEvent:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 0.8px;
  background-color: black;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.btnLinkHome:hover:after, .btnLinkRunclub:hover:after, .btnLinkEvent:hover:after {
  transform: scaleX(1);
}



/* MENY / HEM */

.meny-header {
  display: flex;
  height: 6rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.meny-home-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  height: 30rem;
  flex-wrap: nowrap;
}

.menyPageImg {
  width: 100%;
  min-width: 18rem;
  max-width: 24rem;
  border-radius: 10px;
}

.p-header-meny-home {
  font-size: 1.3rem;
  width: 100%;
  max-width: 25rem;
}

.p-text-meny-home {
  font-size: 0.8rem;
  width: 100%;
  max-width: 25rem;
}

.meny-home-img, .meny-home-text {
  flex: 1 1 0;
}

.meny-home-text {
  min-width: 18rem;
  max-width: 24rem;
}

@media (max-width: 650px) {
  .meny-home-page {
    flex-direction: column;
  }

  .many-home-img {
    justify-content: center;
  }

  .meny-home-text {
    text-align: left;
  }
}